body {
      background-color: #2c3e50;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    #card {
      width: 250px;
      height: 350px;
      background: white;
      border-radius: 5px;
      padding: 20px;
      font-family: Georgia, serif;
      font-size: 32px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 10px 10px 25px rgba(0,0,0,0.4);
    }

    .center {
      font-size: 100px;
      text-align: center;
    }

    .bottom {
      transform: rotate(180deg);
    }